/* ----------------------------- HORIZONTAL SCROLL ---------------------------------- */
.horizontalScroll{
    width:auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.horizontalScroll a {
    display: inline-block;
    vertical-align: middle;
}
.horizontalScroll img {
    border: 0;
}
#routineScroll{
    height:320px;
}
#articleScroll,
#recipeScroll
{
    height:300px;
}
#dietScroll,
#effortScroll
{
    height:360px;
}
#eventScroll
{
    height:360px;
}
.favRoutines{
    top: -10px;
}