@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    font-family: 'Roboto', sans-serif;
}
.infoUser{
    display:inline-block;
    vertical-align:middle;
    padding-top: 25px;
    padding-right: 10px;
}
.white-div{
    height:40px;
}
.bigTitle{
    font-size: 24px; 
    text-align: center; 
    color: #1DB5C0;
}
.subTitle{
    color: gray; 
    font-size: 20px;
}