.anima {
    width: 100%;
    max-width:375px;
    height: 240px;
    
    -webkit-animation: play 4.0s steps(23) ; /* Safari 4+ */
    -webkit-animation-play-state: paused;
    -webkit-animation-iteration-count: 1;
    
       -moz-animation: play 4.0s steps(23) ; /* Fx 5+ */
       -moz-animation-play-state: paused;
       -moz-animation-iteration-count: 1;
       
        -ms-animation: play 4.0s steps(23) ; /* IE < 10+ */
        -ms-animation-play-state: paused;
        -ms-animation-iteration-count: 1;
        
         -o-animation: play 4.0s steps(23) ; /* Opera 12+ */
         -o-animation-play-state: paused;
         -o-animation-iteration-count: 1;
         
            animation: play 4.0s steps(23) ; /* IE 10+, Fx 29+ */
            animation-play-state: paused;
            animation-iteration-count: 1;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -8625px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -8625px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -8625px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -8625px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -8625px; }
}